.Item{
    width:500px;
    color:black;
    font-size: 30px;
    margin: 0, auto;



}

.ItemName{
    font-weight: bold;
    padding: 30px;
    
}
.Line{
    border: 2px; outline-color: darksalmon;

}
.deleteButton{
    float: right;
    padding:12px 20px;
    border:none;
    background-color:darksalmon;
    color:aquamarine;
    margin:-5px;
    border-radius:4px;
    cursor:pointer;
}
.completed{
    text-decoration: line-through;
}